.header 
  .headerBox
    .headerBox__left
      %h1.headerTitle Search_Estimate
    .headerBox__right
      = link_to "New estimate", new_estimate_path, class:"newEstimateBtn"
      = link_to "User Name", "#", class:"userNameBtn"
