@mixin inputTitle {
  height: 40px;
  line-height: 40px;
  display: flex;
  font-size: 14px;
}
@mixin verySmallCell {
  width: 30px;
}
@mixin smallCell {
  width: 60px;
}
@mixin priceCell {
  width: 100px;
}

.newEstimateMain {
  padding: 10px;
  .headBox {
    height: 200px;
    h2 {
      background-color: black;
      color: white;
      width: 80px;
      text-align: center;
    }
    .companyCode, .companyName, .companyPerson_in_charge, .title, .employee, .expiration_date, .payment_terms {
      @include inputTitle;
    }
    &__first {
      .employee {
        display: flex;
      }      
    }
    &__second {
      display: flex;
      .headBox__leftTop {

        .companyNameBox {
          display: flex;
          #explain {
            height: 80px;
            line-height: 80px;
          }
        }
      }
    }
  }
  table {
    width: 100px;
    .cellList {
      width: 20%;
      
      th {
        text-align: center;
        height: 40px;
      }
      .inputBottomNote {
        @include priceCell;
      }
    }
  }
   
}
// テーブルテンプレート
.no, .unit {
  @include verySmallCell;
}
.code {
  width: 75px;
}
.amount {
  @include smallCell;
}
.maker {
  width: 100px;
}
.itemName {
  width: 250px;
}
.productNumber {
  width: 250px;
}
.retailPrice {
  @include priceCell;
}
